
<%= form_with model: @movie, html: { multipart: true }  do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :movie_title,class: "form-control" , placeholder: "e.g Harry Potter" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :movie_description, class: "form-control" , placeholder: "Input some description"%>
  </div>

 <div class="field form-group">
    <%= form.label :director %>
    <%= form.text_field :director, id: :movie_director, class: "form-control" , placeholder: "Director name"%>
  </div>

  <div class="field form-group">
   <%= form.label :rating %>
   <%= form.select(:rating, [1,2,3,4,5], {}, { :class => 'form-control' }) %>
  </div>
<div class="form-group">
    <%= form.label :image%>
    <%= form.file_field :image, id: :movie_image, class: "form-control-file"%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

