<%= form_with(model: @review, url: [@movie, @review], local: true) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :rating %>
    <%= form.select(:rating, [1,2,3,4,5], {}, { :class => 'form-control' }) %>
  </div>

  <div class="field form-group">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :review_comment , class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
